{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}


	<table class="table table-striped">
		{% for category in categories %}
			<tr>
				<td>{{category.name}}</td>
				<td>{{category.description}}</td>
				<td>{{category.createAt|date('d m Y')}}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
